@media (max-width: 956px){
    .layout{
        grid-template-areas: 
            "header header"
            "slider slider"
            "main main"
            "aside aside";
        grid-template-columns: 100%;
    }

    .layout__articles {
        margin-right: 0;
    }

    .layout__aside {
        margin-top: 4rem;
    }

    .header__container--img {
        width: 100%;
    }

    .header__img {
        width: 100%;
    }

    .login__form--group,
    .login__submit {
        width: 65%;
        margin: 0 auto;
    }
}

@media (max-width: 696px){
    .header__nav {
        height: auto;
        padding: 2rem;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
    }

    .layout__slider {
        height: 30rem;
    }
}

@media (max-width: 500px) {
    .logo__text {
        font-size: 3.5rem;
    }

    .layout__slider {
        height: 22rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .login__form--group,
    .login__submit {
        width: 100%;
        margin: 0 auto;
    }
}


@media (max-width: 400px) {
    .logo__text {
        font-size: 2.5rem;
    }

    .layout__slider {
        height: 16rem;
    }

    .footer {
        font-size: 1.4rem;
    }
}