/* ESTILOS GENERALES */

:root { /*Solo en CSS3 - Se crean estas variables al principio. */
    --bg-layout: white;
    --color-primary: #1F87C4;
    --color-text-logo: white;
    --bg-nav: #333;
    --color-link: white;
    --color-shadow: #b7b4b4;
    --color-date: #8b8b8b;
    --color-light: #59b0e2;
    --color-collapse-header: #f6f6f6;
}

html {
    font-size: 10px;    /*Así toda la página está a 10px, con lo cual se podra usar REM */
}

body {
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("../img/cielo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.layout {
    display: grid;
    grid-template-areas: 
        "header header"
        "slider slider"
        "main aside";
    grid-template-columns:
        70% 30%;
    max-width: 128rem;
    background-color: var(--bg-layout);
    padding: 3rem;
    margin: 2rem auto;
}

/* ESTILOS DE LA CABECERA */

.layout__header {
    grid-area: header;
    margin-bottom: 2rem;
}

.header__logo {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--color-primary);
}

.logo__text {
    color: var(--color-text-logo);
    font-size: 5rem;
}

.header__nav {
    width: 100%;
    height: 5rem;
    background-color: var(--bg-nav);
    padding: 0 2rem;
}

.nav__list {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.list__link {
    color: var(--color-link);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: all 300ms linear;
}

.list__link:hover {     /* Al pasar el mouse */
    background-color: var(--color-primary);
}

/* ESTILOS DEL SLIDER */

.layout__slider {
    grid-area: slider;
    width: 100%;
    height: 40rem;
    position: relative;
    overflow: hidden;
    border: 5px solid var(--color-text-logo);
    box-shadow: 0px 0px 5px var(--color-shadow);
    margin-bottom: 4rem;
}

.slider__btn--next,
.slider__btn--prev {
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 1rem;
    top: calc(50% - 2.5rem);
    z-index: 2;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-nav);
    color: var(--color-link);
    font-size: 3rem;
}

.slider__btn--next {
    left: auto;
    right: 1rem;
}

.slides__item {
    position: absolute;
    transition: opacity 600ms linear;
    opacity: 0;
}

.slides__item--active {
    opacity: 1;
}

/* ESTILOS PARA LOS ARTICULOS */

.layout__articles,
.layout__main {
    grid-area: main;
    margin-right: 7rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.articles__article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.article__title {
    font-size: 3rem;
}

.article__date {
    color: var(--color-date);
}

.article__body {
    text-align: justify;
}

.article__btn {
    width: 12rem;
    padding: 1.5rem 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: var(--color-primary);
    border: none;
    color: var(--color-link);
    transition: all 300ms linear;
    text-align: center;
}

.article__btn:hover {
    background-color: var(--color-light);
}

/* ESTILOS BARRA LATERAL */
.layout__aside {
    grid-area: aside;
}

.aside__header {
    margin-bottom: 4rem;
}

.header__container--title {
    margin-bottom: 2rem;
}

.header__title,
.login__title {
    text-align: center;
    line-height: 1rem;
    background: url(../img/lines.png) repeat-x;
}

.title__span {
    background-color: var(--bg-layout);
    padding: 0.5rem;
}

.header__description {
    font-size: 1.6rem;
    padding: 0.5rem;
}

.aside__login {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login__container--title {
    margin-bottom: 1.5rem;
}

.login__form--group {
    display: flex;
    gap: 0.5rem;
}

.login__input {
    width: 100%;
    border: 2px solid var(--color-shadow);
    outline: none;  /*Quita por defecto el borde de los formularios*/
    transition: all 300ms linear;
}

.login__input:focus {
    border-color: var(--color-primary);
}

.login__submit {
    padding: 1rem;
    cursor: pointer;
    border: 1px solid var(--color-shadow);
    transition: all 300ms linear;
}

.login__submit:hover {
    border-color: var(--color-primary);
}

/* ESTILOS AL PIE DE PAGINA */
.footer {
    max-width: 128rem;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
    padding: 1.5rem;
    background-color: var(--bg-nav);
    color: var(--bg-layout);
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__top {
    cursor: pointer;
}

.aside__data--hide {
    display: none;
}

.aside__login--hide {
    display: none;
}

/* ESTILOS ACORDEON */
.main__title {
    font-size: 3rem;
}

.main__accordion {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.collapse__header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--color-shadow);;
    background-color: var(--color-collapse-header);
}

.collapse__header > .fa-solid {
    font-size: 1.5rem;
    position: absolute;
}

.collapse__header > .fa-chevron-down {
    opacity: 1;
}

.collapse__header > .fa-chevron-up {
    opacity: 0;
}

.collapse__title {
    font-size: 1.8rem;
    margin-left: 2rem;
}

.collapse__body {
    max-height: 0;
    overflow: hidden;
    background-color: var(--color-collapse-header);
    border: 1px solid var(--color-shadow);
    border-radius: 0 0 5px 5px;
    border-top: none;
    border-bottom: none;
    transition: max-height 300ms ease;
}

.collapse__text {
    padding: 2rem;
}

.accordion__collapse--open .collapse__body {
    max-height: 999px;
    border-bottom: 1px solid var(--color-shadow);
    transition: max-height 700ms ease-in-out;
}

.accordion__collapse--open .collapse__header {
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: none;
    color: var(--color-collapse-header);
    background-color: var(--color-light);
}

.accordion__collapse--open .fa-chevron-down {
    opacity: 0;
}

.accordion__collapse--open .fa-chevron-up {
    opacity: 1;
}


/* ESTILOS PARA EL RELOJ */

.main__clock {
    width: 100%;
    border: 5px dashed var(--bg-nav);
}

.clock__time {
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
}


/* ESTILOS PARA EL FORMULARIO DE CONTACTO */

.main__contact {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__group {
    width: 100%;
}

.contact__input,
.contact__select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--color-shadow);
    outline: none;
    transition: all 300ms linear;
}

.contact_input:focus,
.contact__select:focus {
    border-color: var(--color-primary);
}

.contact__btn {
    padding: 1rem;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid var(--color-shadow);
    transition: all 300ms linear;
}

.contact__btn:hover {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--bg-layout);
}


.just-validate-error-label {
    color: var(--bg-layout) !important;
    background-color: red;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 0.5rem;
}

/* ESTILOS PARA LOS TEMAS */

.themes {
    width: 5rem;
    height: 12rem;
    padding: 0.5rem 1rem;
    position: fixed;
    left: 0;
    top: 45%;
    background-color: var(--bg-nav);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.themes > div {
    width: 100%;
    height: 3rem;
    border: 1px solid var(--bg-layout);
    cursor: pointer;
}

.theme__green {
    background-color: #225D51;
}

.theme__red {
    background-color: #C14C39;
}

.theme__blue {
    background-color: #3C93C8;
}

.theme__green--active {
    --color-primary: #225D51;
   --color-light: #2b7264;
}

.theme__red--active {
    --color-primary: #C14C39;
    --color-light: #d65541;
}

.theme__blue--active {
    --color-primary: #3C93C8;
    --color-light: #55ade4;
}

.theme__green--active > body {
    background-image: url("../img/hojas.jpg");
}

.theme__red--active > body {
    background-image: url("../img/rojo.jpg");
}

.theme__blue--active > body {
    background-image: url("../img/cielo.jpg");
}

.article__btn:hover {
    background-color: var(--color-light);
}